.sidebar-component {
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #080725;
  box-shadow: 0px 0px 9px rgb(2, 11, 29);
}
.sidebar-component span {
  color: white;
}
.sidebar-component a {
  text-decoration: none;
  font-size: 18px;
  padding: 15px 0px;
  cursor: pointer;
}
.sidebar-component a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #1e1b81;
}
.sidebar-component a:active{
  background-color: #075cfa;
}
