* {
  margin: 0px;
}
.ss-page {
  width: 100%;
  height: 100%;
  display: flex;
}
.ss-page-content {
  width: calc(100% - 240px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  overflow-y: auto;
}
.ss-content-block {
  width: 100%;
  height: calc(100%-50px);
}
